<html>
<header>
    <title>Simulator Result View</title>
</header>
<body>
<h1>Simulator result view</h1>
<p>Simulation was initiated at {{.Time | formatDate}}</p>
<p>Current queue structure: {{.Queue | formatQueue}}</p>
</body>
</html>
